<h3> <footer> 

<iframe name='proprofs' id='proprofs' width='450' height='500' frameborder=0 marginwidth=0 marginheight=0 src='http://www.proprofs.com/polls/widget/?title=do-you-think-people-should-give-up-smoking-cigarrete'></iframe>

</footer></h3>